
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=101ea88ee5a292ec88b5917c49b13404
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
